---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

.preview-img {
  aspect-ratio: auto !important;
}

.preview-img img {
  object-fit: contain !important;
}

.custom-red {
    color: #F8766D;
}

.custom-green {
    color: #00BFC4;
}
